@use "@/styles/mixins.scss" as *;

.langWrapper {
  cursor: pointer;
  .langText {
    margin-top: 7.5px;
  }

  &:hover {
    .langText {
      transition: var(--transition-time);
      color: var(--light-burgundy) !important;
    }
  }
}
