@use "@/styles/mixins.scss" as *;

@mixin vars() {
  --heading-font-size: var(--heading-h6);
  --heading-line-height: var(--heading-h6-line);
  --font-size-big: var(--paragraph-regular);

  @media (min-width: $tablet) {
    --heading-font-size: var(--heading-h5);
    --heading-line-height: var(--heading-h5-line);
    --font-size-big: var(--heading-h6);
  }
}

.blockquote {
  border-left: 2px solid var(--light-burgundy);
  padding-top: 0.2em;
  padding-left: 0.5em;
  margin-bottom: var(--pad-3);
}

.underline {
  text-decoration: underline;
}

.link {
  color: var(--burgundy);
  text-decoration: underline !important;

  &:hover {
    color: var(--burgundy);
    text-decoration: none;
  }
}

.heading {
  @include vars;
  font-size: var(--heading-font-size) !important;
  line-height: var(--heading-line-height) !important;
}

.listItem {
  @include vars;
  font-size: var(--font-size-big);
  line-height: 1.25em;
}

.numberedList {
  margin-bottom: var(--pad-3);
  .listItem {
    list-style: decimal;
    &.letter {
      list-style-type: lower-alpha;
    }
  }
}

.bulletedList {
  margin-bottom: var(--pad-3);
  .listItem {
    list-style-type: disc;
    &.letter {
      list-style-type: circle;
    }
  }
}

// NEW: Image block styles
.imageBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  @include vari(--image-gap, --pad-3, --pad-3, --pad-3, --pad-4);
  gap: var(--image-gap);
  @include vari(
    --image-margin,
    var(--pad-2),
    var(--pad-3),
    var(--pad-3),
    var(--pad-4)
  );
  margin: var(--image-margin) auto;

  &--small {
    @include vari(--image-max-width, 100%, 50%, 40%, 30%);
    max-width: var(--image-max-width);
  }

  &--medium {
    @include vari(--image-max-width, 100%, 75%, 60%, 50%);
    max-width: var(--image-max-width);
  }

  &--large {
    @include vari(--image-max-width, 100%, 100%, 85%, 75%);
    max-width: var(--image-max-width);
  }

  &--full {
    max-width: 100%;
  }
}

.imageWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  @include vari(--image-radius, 4px, 6px, 6px, 8px);
  border-radius: var(--image-radius);

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.imageCaption {
  text-align: center;
  font-style: italic;
  @include vari(--caption-margin-top, 0.25rem, 0.25rem, 0.5rem, 0.5rem);
  margin-top: var(--caption-margin-top);
}
