@use "@/styles/mixins.scss" as *;

@mixin vars() {
  --icon-height: 32px;
  --image-size: 120px;

  @media (min-width: $tablet) {
    --icon-height: 48px;
    --image-size: 160px;
  }

  @media (min-width: $laptop) {
  }

  @media (min-width: $desktop) {
    --icon-height: 64px;
    --image-size: 200px;
  }
}

.container {
  @include vars;
  .uploadButton {
    position: relative;
    background: var(--light-burgundy-30);
    border-radius: var(--border-radius-large);
    cursor: pointer;
    box-shadow: var(--drop-shadow);
    border: 2px solid var(--burgundy);
    transition: all var(--transition-time) ease;

    .icon {
      height: var(--icon-height);
    }

    &:hover,
    &.dragActive,
    &.uploaded {
      background-color: var(--burgundy);
      * {
        color: var(--white) !important;
        fill: var(--white) !important;
      }
    }

    &.uploaded {
      width: auto !important;
      border-radius: var(--border-radius);
    }
  }
  .removeButton {
    position: absolute;
    top: var(--pad-2);
    right: var(--pad-2);
    z-index: 2;

    svg {
      width: 18px !important;
      height: 18px !important;
      transition: all 100ms ease;
    }
    &:hover {
      svg {
        width: 24px !important;
        height: 24px !important;
      }
    }
  }
  .imageWrapper {
    position: relative;
    aspect-ratio: 1;
    height: var(--image-size) !important;
    border-radius: var(--border-radius);
    border: 2px solid var(--burgundy);
    background: var(--light-burgundy-30);
    overflow: hidden;

    .previewImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .addMore {
    aspect-ratio: 1;
    height: var(--image-size) !important;
    border-radius: var(--border-radius);
    border: 2px dashed var(--burgundy);
    background: var(--light-burgundy-30);
    cursor: pointer;
    transition: all var(--transition-time) ease;

    &:hover {
      background: var(--burgundy);
      * {
        color: var(--white) !important;
        fill: var(--white) !important;
      }
    }
  }

  .invalid {
    border: 2px solid var(--error);
    .required {
      color: var(--error) !important;
    }
  }

  .required {
    position: absolute;
    top: var(--pad-3);
    right: var(--pad-3);
    z-index: 2;
    width: auto !important;
  }
}
